/* styles/globals.css */
:root {
  --primary-color: #0056b3;
  --background-color: #f7f7f7;
  --text-color: #333;
  --button-hover-color: #003870;
  --border-radius: 8px;
  --shadow: 0 4px 6px rgba(0,0,0,0.1);
}

body {
  margin: 30px;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text-color);
}

p {
line-height: 1.6;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

@keyframes colorFade {
  0%, 100% {
      background-color: white; /* Début et fin de l'animation en blanc */
      color: black; /* Le texte reste noir */
  }
  50% {
      background-color: black; /* Milieu de l'animation en noir */
      color: white; /* Le texte change en blanc pour contraste */
  }
}

button {
  border: 1px solid black; /* Bordure noire autour du bouton */
  padding: 8px 16px;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 16px;
  animation: colorFade 10s ease-in-out infinite; /* Appliquer l'animation avec une durée de 3 secondes */
  transition: all 0.3s ease-in-out; /* Transition douce pour les autres propriétés si nécessaire */
}

button:hover {
  background-color: black; /* Couleur de fond noire au survol */
  color: white; /* Changement de la couleur du texte en blanc pour contraste */
}

input[type="number"],
select {
  padding: 8px;
  margin: 8px 0;
  border-radius: var(--border-radius);
  border: 1px solid #ccc;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="number"]:focus,
select:focus {
  border-color: var(--primary-color);
  outline: none;
  box-shadow: var(--shadow);
}

img {
max-width: 100%;
height: auto;
}

/* Nouvelles classes pour le centrage et les animations */
.welcome-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* prend toute la hauteur de la vue */
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.box {
  width: 90%; /* réduire légèrement la largeur */
  margin: 10px auto;
  transition: transform 0.3s ease-in-out;
}

.box:hover {
  transform: scale(0.95); /* réduction subtile quand la souris passe dessus */
}